# Week 4: Text and dates

1. Text
    - Working with text data via the `str` accessor
    - Using `str` to clean integer data
    - Getting textual statistics 
    - Cleaning text + strings
2. Dates and times
    - How do dates and times work as data structures?
    - `datetime` and `timedelta` objects
    - Reading date information from CSV files
    - Retrieving via dates and times
    - Time series -- setting the index to use a datetime column
    - Resampling -- grouping via time

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# load NYC taxi data from January, 2019
filename = '/Users/reuven/Courses/Current/data/nyc_taxi_2019-01.csv'

df = pd.read_csv(filename, 
                usecols=['passenger_count', 'trip_distance', 'total_amount'])

In [3]:
df.head()

   passenger_count  trip_distance  total_amount
0                1            1.5          9.95
1                1            2.6         16.30
2                3            0.0          5.80
3                5            0.0          7.55
4                5            0.0         55.55

In [4]:
df.dtypes

passenger_count      int64
trip_distance      float64
total_amount       float64
dtype: object

In [6]:
# what if I want to find the 10 shortest-distance trips?

df.sort_values(by='trip_distance').head(10)

         passenger_count  trip_distance  total_amount
7667791                1            0.0          0.00
4863796                0            0.0          3.30
4863795                2            0.0          3.30
4863794                2            0.0          3.30
4863793                1            0.0          3.30
4863792                1            0.0          3.30
4863789                1            0.0          5.30
4863768                1            0.0          3.30
4863743                1            0.0          3.96
2682283                1            0.0         20.30

In [7]:
# what if I want to sort first by trip_distance, and then (in the case of a tie) by total_amount?

df.sort_values(by=['trip_distance', 'total_amount']).head(20)

         passenger_count  trip_distance  total_amount
4890628                1            0.0       -362.80
6308124                2            0.0       -320.30
57093                  1            0.0       -300.30
7227721                1            0.0       -300.30
868820                 1            0.0       -250.31
54256                  1            0.0       -224.80
57095                  1            0.0       -190.30
3339311                1            0.0       -165.30
3310047                1            0.0       -160.80
6153373                1            0.0       -150.80
5147061                1            0.0       -150.30
5977567                1            0.0       -120.80
5554364                1            0.0       -112.30
6958613                1            0.0       -110.80
7102780                2            0.0       -110.80
4424855                1            0.0       -100.80
57097                  1            0.0       -100.30
2530388                3            0.0       -100.30
2644703                1            0.0       -100.30
2868784                2            0.0       -100.30

In [8]:
# grouping 

# grouping allows us to ask a question, and to get a separate answer for each
# unique value of a particular column.

# to group, we need:
# (1) a categorical column on which to group
# (2) a numeric column on which to perform our calculation
# (3) an aggregation method that will give us one value back for all rows for each categorical value

df.groupby('passenger_count')['trip_distance'].mean()

passenger_count
0    2.651561
1    2.779088
2    2.880572
3    2.840698
4    2.853084
5    2.865741
6    2.842335
7    2.561579
8    3.142759
9    1.486667
Name: trip_distance, dtype: float64

In [9]:
df.groupby('passenger_count')['total_amount'].mean()

passenger_count
0    18.663658
1    15.609601
2    15.831294
3    15.604015
4    15.650307
5    15.546940
6    15.437892
7    48.278421
8    64.105517
9    31.094444
Name: total_amount, dtype: float64

In [10]:
# what if I want to get info about more than one column?
# two options:
# (1) don't specify columns in square brackets, and then all numeric columns will be calculated
# (2) specify them in double square brackets, giving a list of columns

df.groupby('passenger_count')[['total_amount', 'trip_distance']].mean()

                 total_amount  trip_distance
passenger_count
0                   18.663658       2.651561
1                   15.609601       2.779088
2                   15.831294       2.880572
3                   15.604015       2.840698
4                   15.650307       2.853084
5                   15.546940       2.865741
6                   15.437892       2.842335
7                   48.278421       2.561579
8                   64.105517       3.142759
9                   31.094444       1.486667

In [11]:
df.groupby('passenger_count')[['total_amount', 'trip_distance']].mean().sort_values(by='total_amount')

                 total_amount  trip_distance
passenger_count
6                   15.437892       2.842335
5                   15.546940       2.865741
3                   15.604015       2.840698
1                   15.609601       2.779088
4                   15.650307       2.853084
2                   15.831294       2.880572
0                   18.663658       2.651561
9                   31.094444       1.486667
7                   48.278421       2.561579
8                   64.105517       3.142759

# Text

In Python (not Pandas), we use strings all of the time. They're really useful! But think about how Pandas does things: It stores its values inside of NumPy arrays. Those arrays contain C data structures.

It's relatively obvious that those C data structures include 8-bit ints, 16-bit ints, 32-bit floats, etc. etc., but where do strings fit in?

First: You can, in theory, put strings in NumPy arrays, but then things get very messy. Also, you then have C-style strings, not Python-style strings, which means that they're far more limited.

The other thing we can do is use Python strings, stored in Python, but Pandas will keep track of the location of each Python string, and use it as necessary.

If we have a series whose `dtype` is listed as `object`, that theoretically means that we could store any kind of Python object there. In practice, it almost always means that we have a string column, or a column containing some strings.

In [12]:
s = Series('this is an example of text in Pandas for my course'.split())

In [13]:
s

0        this
1          is
2          an
3     example
4          of
5        text
6          in
7      Pandas
8         for
9          my
10     course
dtype: object

Once we have our string column, we can print it -- but how can we work with it?

For example, if I want to find out the length of each word in `s`, how can I do it?

- Option 1: Use a `for` loop to go through each value and get it. Problem: Don't do that.
- Option 2: Use the `str` accessor for series (or data frame) to invoke a method on each element of `s`.

In [15]:
s.str.len()   # we're applying the len() function to the s series, via the str accessor

0     4
1     2
2     2
3     7
4     2
5     4
6     2
7     6
8     3
9     2
10    6
dtype: int64

# Exercise: Find longer-than-average words

1. Define a series containing strings.
2. Construct a query that'll return all strings of above-average length.
3. Print the returned results.

In [16]:
s = Series('this is a bunch of words for my Pandas course about strings and dates'.split())
s

0        this
1          is
2           a
3       bunch
4          of
5       words
6         for
7          my
8      Pandas
9      course
10      about
11    strings
12        and
13      dates
dtype: object

In [18]:
# what is the average length of a word in s?
# what are the lengths of the words?

s.str.len().mean()

4.0

In [19]:
# which words are longer than the average?

s.str.len() > s.str.len().mean()

0     False
1     False
2     False
3      True
4     False
5      True
6     False
7     False
8      True
9      True
10     True
11     True
12    False
13     True
dtype: bool

In [20]:
# use the boolean series as a mask index, to get only those items whose lengths are > the mean
s.loc[s.str.len() > s.str.len().mean()]

3       bunch
5       words
8      Pandas
9      course
10      about
11    strings
13      dates
dtype: object

In [21]:
# in Jupyter, I can say

s.str.isdigit()   # this returns a series of booleans -- True wherever the string only contains 0-9

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
dtype: bool

In [22]:
s = Series('I work 40 hours per week at my job, and another 20 hours per week on my consulting.'.split())

In [23]:
s

0               I
1            work
2              40
3           hours
4             per
5            week
6              at
7              my
8            job,
9             and
10        another
11             20
12          hours
13            per
14           week
15             on
16             my
17    consulting.
dtype: object

In [25]:
# how can I we find those strings that contain only digits?

s.loc[s.str.isdigit()]   # this returns True, when the string only contains digits

2     40
11    20
dtype: object

In [29]:
# I want to sum the numbers

# to do that, I have to find which elements of s are numbers
# I'll use .astype(np.int64 ) to convert, but the input 
# must be a series of strings, which we trimmed from using a mask
# index, based on isdigit()

s.loc[s.str.isdigit()].astype(np.int64).sum()

60

# Exercise: Summing ints from the user

1. Ask the user to enter a list of 2- and 3-digit integers.  These will be strings, and not all will contain only digits.  Some will contain 0 digits!
2. Use the `.str` accessor to keep only those "words" that contain only digits.  
3. Turn the series into integers
4. Calculate descriptive statistics on the data.

In [31]:
s = Series('This sentence contains 10 numbers, some of which are 20 30 97 85 and 23 . But we also have 22 and 33'.split())
s

0         This
1     sentence
2     contains
3           10
4     numbers,
5         some
6           of
7        which
8          are
9           20
10          30
11          97
12          85
13         and
14          23
15           .
16         But
17          we
18        also
19        have
20          22
21         and
22          33
dtype: object

In [35]:
# I want: Descriptive statistics on the numbers in s
# I need: remove all non-numeric strings from s, then use astype to turn the values into integers

s.loc[s.str.isdigit()].astype(np.int8).describe()

count     8.000000
mean     40.000000
std      32.372828
min      10.000000
25%      21.500000
50%      26.500000
75%      46.000000
max      97.000000
dtype: float64

In [36]:
s = Series('10 20 30 40 50'.split())
s

0    10
1    20
2    30
3    40
4    50
dtype: object

In [37]:
s.mean()

204060810.0

In [38]:
s.sum()

'1020304050'

# Next up:

1. Textual statistics
2. Trimming strings
3. `contains`

In [39]:
filename = '/Users/reuven/Courses/Current/data/winemag-150k-reviews.csv'

df = pd.read_csv(filename)

In [40]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [41]:
df.dtypes

Unnamed: 0       int64
country         object
description     object
designation     object
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

In [42]:
# basic queries using text

# for each winery in df,
# calculate the mean points

df.groupby('winery')['points'].mean()

winery
'37 Cellars          88.000000
1+1=3                83.800000
10 Knots             84.375000
1000 Stories         90.000000
1040FU               82.000000
                       ...
Ñandú                83.333333
Único Luis Miguel    85.000000
àMaurice             91.477273
áster                87.000000
Štoka                89.000000
Name: points, Length: 14810, dtype: float64

In [44]:
df.groupby('winery')['points'].mean().sort_values(ascending=False).head(10)

winery
Sloan                           100.000000
Mascarello Giuseppe e Figlio     99.000000
Domaine des Lambrays             98.000000
Château Climens                  97.111111
Gandona                          97.000000
Cardinale                        97.000000
Ovid                             97.000000
Au Sommet                        97.000000
Château d'Yquem                  96.875000
Harlan Estate                    96.625000
Name: points, dtype: float64

In [45]:
df.groupby('country')['points'].mean().sort_values(ascending=False).head(10)

country
England     92.888889
Austria     89.276742
France      88.925870
Germany     88.626427
Italy       88.413664
Canada      88.239796
Slovenia    88.234043
Morocco     88.166667
Turkey      88.096154
Portugal    88.057685
Name: points, dtype: float64

In [46]:
# what if I want to find out something about the text itself?
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [47]:
# how many of the descriptions mention the word "fruit"?

df['description'].str.contains('fruit')   # think of "str.contains" as similar to "in"

0          True
1          True
2         False
3          True
4         False
          ...
150925    False
150926    False
150927    False
150928     True
150929    False
Name: description, Length: 150930, dtype: bool

In [49]:
df.loc[df['description'].str.contains('fruity')]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
52,52,France,"This ripe, full-bodied wine has ripe green fru...",Les 7 Hommes,90,42.0,Loire Valley,Sancerre,NaN,Sauvignon Blanc,Cherrier Frères
57,57,US,"While exuberantly fruity, almost tropical on t...",Reserve,90,25.0,New York,Finger Lakes,Finger Lakes,Riesling,Dr. Konstantin Frank
73,73,US,"Massively fruity, this is an apple/pear bonanz...",NaN,91,19.0,Oregon,Willamette Valley,Willamette Valley,Pinot Gris,Trinity Vineyards
86,86,France,"This delicious, refreshing wine is textured, t...",Montmains Premier Cru,91,45.0,Burgundy,Chablis,NaN,Chardonnay,Domaine Gérard Duplessis
90,90,US,"Bright, light oak shadings dress up this mediu...",NaN,86,10.0,California,California,California Other,Cabernet Sauvignon,Belle Ambiance
...,...,...,...,...,...,...,...,...,...,...,...
150873,150873,US,With a color akin to the soft pink of ripe pea...,White,83,7.0,California,Amador County,Sierra Foothills,Zinfandel,Montevina
150875,150875,US,"From the folks who invented white Zinfandel, a...",NaN,83,6.0,California,California,California Other,Zinfandel,Sutter Home
150879,150879,US,"A heavy wine, atypical of the appellation, whi...",NaN,83,16.0,California,Anderson Valley,Mendocino/Lake Counties,Pinot Noir,Edmeades
150883,150883,US,"A coppery colored, off-dry-to-frankly-sweet wi...",Reserve White,83,7.0,California,California,California Other,Zinfandel,Glen Ellen
150908,150908,France,"Another premier cru from Michel Gros, this one...",Aux Brulees,90,65.0,Burgundy,Vosne-Romanée,NaN,Pinot Noir,Michel Gros

In [51]:
df.loc[df['description'].str.contains('x') & 
       df['description'].str.contains('j')]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
8,8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström
10,10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
13,13,France,This wine is in peak condition. The tannins an...,Château Montus Prestige,95,90.0,Southwest France,Madiran,NaN,Tannat,Vignobles Brumont
14,14,US,"With its sophisticated mix of mineral, acid an...",Grace Vineyard,95,185.0,Oregon,Dundee Hills,Willamette Valley,Pinot Noir,Domaine Serene
17,17,Spain,"Nicely oaked blackberry, licorice, vanilla and...",6 Años Reserva Premium,95,80.0,Northern Spain,Ribera del Duero,NaN,Tempranillo,Valduero
...,...,...,...,...,...,...,...,...,...,...,...
150887,150887,Chile,The pineapple and lemon aromas and flavors in ...,Prima Reserva,82,13.0,Maipo Valley,NaN,NaN,Chardonnay,De Martino
150905,150905,Chile,There's not much point in making a reserve-sty...,Prima Reserva,80,13.0,Maipo Valley,NaN,NaN,Merlot,De Martino
150912,150912,France,The nose is dominated by the attractive scents...,Les Charmes,87,65.0,Burgundy,Chambolle-Musigny,NaN,Pinot Noir,Daniel Rion
150921,150921,France,Shows some older notes: a bouquet of toasted w...,Blanc de Blancs Brut Mosaïque,91,38.0,Champagne,Champagne,NaN,Champagne Blend,Jacquart
150924,150924,France,"Really fine for a low-acid vintage, there's an...",Diamant Bleu,91,70.0,Champagne,Champagne,NaN,Champagne Blend,Heidsieck & Co Monopole

In [53]:
# what if we only want 'fruit' and not 'fruity'?
# one way to work things is to break up the description into a list

# it turns out that the .str accessor works on any Python object!
# if the dtype is object, then we're fine.

# we can also use many methods via the .str accessor that will
# work on non-string objects.

df['description'].str.split().str.len()  # get the number of words in the description

0         60
1         51
2         47
3         62
4         66
          ..
150925    45
150926    44
150927    65
150928    41
150929    37
Name: description, Length: 150930, dtype: int64

In [62]:
# does the word 'fruit' (and not fruity!) appear in the description?

df['description'].str.split()

0         [This, tremendous, 100%, varietal, wine, hails...
1         [Ripe, aromas, of, fig,, blackberry, and, cass...
2         [Mac, Watson, honors, the, memory, of, a, wine...
3         [This, spent, 20, months, in, 30%, new, French...
4         [This, is, the, top, wine, from, La, Bégude,, ...
                                ...
150925    [Many, people, feel, Fiano, represents, southe...
150926    [Offers, an, intriguing, nose, with, ginger,, ...
150927    [This, classic, example, comes, from, a, cru, ...
150928    [A, perfect, salmon, shade,, with, scents, of,...
150929    [More, Pinot, Grigios, should, taste, like, th...
Name: description, Length: 150930, dtype: object

# Exercise: Words with `e` or `i` in them

1. Ask the user to enter a sentence. Turn this sentence into a Pandas series.
2. Find all of the words in the series that contain either `e` or `i`.

Hint: You'll want to use the `.str.contains` method.

In [63]:
s = Series(input('Enter a string: ').split())

Enter a string: This is a bunch of words that are here for my Pandas course

In [64]:
s

0       This
1         is
2          a
3      bunch
4         of
5      words
6       that
7        are
8       here
9        for
10        my
11    Pandas
12    course
dtype: object

In [66]:
# find all words that contain e

s.loc[s.str.contains('e')]

7        are
8       here
12    course
dtype: object

In [67]:
s.loc[s.str.contains('i')]

0    This
1      is
dtype: object

In [68]:
s.loc[s.str.contains('e') | s.str.contains('i')]

0       This
1         is
7        are
8       here
12    course
dtype: object

In [71]:
# descriptive statistics on a regular numeric column give us: mean, std, min, 25%, 50% (median), 75%, max

In [72]:
# what if we have a textual column? What does it mean to get descriptive statistics?

s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [73]:
s = Series(input('Enter a string: ').split())

Enter a string: This is a bunch of words that are here for my Pandas course

In [74]:
s

0       This
1         is
2          a
3      bunch
4         of
5      words
6       that
7        are
8       here
9        for
10        my
11    Pandas
12    course
dtype: object

In [75]:
s.describe()

count       13
unique      13
top       This
freq         1
dtype: object

In [76]:
s = Series('this is a bunch of words and a bunch of words is what you need and a bunch of words is always good'.split())

s

0       this
1         is
2          a
3      bunch
4         of
5      words
6        and
7          a
8      bunch
9         of
10     words
11        is
12      what
13       you
14      need
15       and
16         a
17     bunch
18        of
19     words
20        is
21    always
22      good
dtype: object

In [78]:
s.describe()

count     23
unique    12
top       is
freq       3
dtype: object

In [80]:
!ls ../data/*.txt

../data/alice-in-wonderland.txt  ../data/nyc-temps.txt
../data/linux-etc-passwd.txt	 ../data/words.txt

In [82]:
# I'm going to load the contents of Alice in Wonderland into a series
# each word will be a separate value

s = Series(open('../data/alice-in-wonderland.txt').read().split())

In [83]:
s

0             ﻿The
1          Project
2        Gutenberg
3            EBook
4               of
           ...
12758           to
12759         hear
12760        about
12761          new
12762      eBooks.
Length: 12763, dtype: object

In [86]:
# what are the 10 most common words in Alice in Wonderland?
# solution: use value_counts

s.value_counts().head(30)

the             732
and             362
a               321
to              311
of              300
in              211
she             197
was             160
said            129
it              122
you             122
with            111
or              103
Alice           101
her              92
that             90
as               89
I                89
at               85
Project          78
all              68
this             65
on               65
had              64
for              61
little           56
be               54
Gutenberg-tm     53
The              52
is               52
dtype: int64

In [87]:
# I want to take s and turn all of its strings into lowercase words

s = s.str.lower()

In [88]:
s.value_counts().head(30)

the             792
and             379
a               325
to              318
of              313
she             232
in              222
was             160
you             141
it              136
said            130
with            113
or              109
alice           103
as               95
her              94
that             93
at               93
i                89
this             82
project          82
for              70
all              70
on               67
had              64
little           57
be               55
gutenberg-tm     54
is               52
not              52
dtype: int64

In [91]:
# which words contain the string 'the'?

s.loc[s.str.contains('the')].head(30)

0         ﻿the
15         the
40         the
43         the
92         the
102        the
105        the
107       _the
137        the
152        the
167        the
185        the
210        the
219    whether
220        the
229        the
236        the
250      there
268        the
272        the
288        the
303       then
326     either
344        the
362        the
365    another
373        the
385       then
416     either
417        the
dtype: object

In [92]:
# the strip method removes whitespace from the start and/or finish of a string

s = s.str.strip()  # this returns a new series in which values are the same as before, but without leading/trailing whitespace

In [93]:

s.value_counts().head(50)

the             792
and             379
a               325
to              318
of              313
she             232
in              222
was             160
you             141
it              136
said            130
with            113
or              109
alice           103
as               95
her              94
that             93
at               93
i                89
this             82
project          82
for              70
all              70
on               67
had              64
little           57
be               55
gutenberg-tm     54
is               52
not              52
any              48
by               47
out              45
down             44
if               41
about            40
into             39
up               39
very             39
they             39
work             38
but              38
when             37
do               36
so               35
are              32
one              32
like             32
no               31
from             31
dtype: int64

In [94]:
s.loc[s.str.contains('the')].head(30)

0         ﻿the
15         the
40         the
43         the
92         the
102        the
105        the
107       _the
137        the
152        the
167        the
185        the
210        the
219    whether
220        the
229        the
236        the
250      there
268        the
272        the
288        the
303       then
326     either
344        the
362        the
365    another
373        the
385       then
416     either
417        the
dtype: object

In [103]:
# if you invoke str.strip on a string, and you don't pass any arguments, then it removes
# any and all occurrences of \n, \t, space, \r, and \v.  

# If you invoke str.strip on a string, and you do pass a string argument, Python will remove
# any and all of the characters in that string from each element in the original series.

s = Series(['   word.exe ', '  excel.exe ', '    hello.txt '])

s.str.strip().str.removesuffix('.exe').str.removesuffix('.txt')

0     word
1    excel
2    hello
dtype: object

# Exercise: Calculating with dollars

1. Create a series in which the elements are Python strings, each containing a number, and starting with the dollar sign.
2. Find the mean of these prices. You'll need to remove the dollar sign from the start of each string.

So if I have a series containing `$10, $20, $30`, then I'll get `20` back, calculating its mean.

In [105]:
s = Series('$10 $20 $30 $50'.split())
s

0    $10
1    $20
2    $30
3    $50
dtype: object

In [109]:
s.str.strip('$').astype(np.int8).mean()

27.5

In [111]:
s = Series('   $10   ,  $20   , $30   , $50   '.split(','))
s

0       $10
1       $20
2       $30
3       $50
dtype: object

In [116]:
# whitespace, then $
s.str.strip().str.strip('$').astype(np.int8).mean()

27.5

In [117]:
s = Series('This is a bunch of words for my course'.split())

In [118]:
s

0      This
1        is
2         a
3     bunch
4        of
5     words
6       for
7        my
8    course
dtype: object

In [119]:
# we can retrieve the character at any index with .str.get

s.str.get(0)   # return the first character of every word in s

0    T
1    i
2    a
3    b
4    o
5    w
6    f
7    m
8    c
dtype: object

In [121]:
# slice allows us to retrieve from an index, to an ending index
s.str.slice(2, 4)

0    is
1
2
3    nc
4
5    rd
6     r
7
8    ur
dtype: object

# Exercise: Find words with the same first and last letter

1. Create a series containing a bunch of words. 
2. Show the words in that series whose first letters and last letters are the same.

Examples:

1. `prop`  -- yes, first and last letters are the same
2. `fluff` -- yes, first and last letters are the same
3. `fluffy` -- no different letters

In [122]:
s = Series(open('../data/alice-in-wonderland.txt').read().split())
s

0             ﻿The
1          Project
2        Gutenberg
3            EBook
4               of
           ...
12758           to
12759         hear
12760        about
12761          new
12762      eBooks.
Length: 12763, dtype: object

In [126]:
# remove punctuation!
s = s.str.strip('.?!"\';,')
s.head(30)

0             ﻿The
1          Project
2        Gutenberg
3            EBook
4               of
5            Alice
6               in
7       Wonderland
8               by
9            Lewis
10         Carroll
11            This
12           eBook
13              is
14             for
15             the
16             use
17              of
18          anyone
19        anywhere
20              at
21              no
22            cost
23             and
24            with
25          almost
26              no
27    restrictions
28      whatsoever
29             You
dtype: object

In [131]:
# which words start and end with the same letter?
Series(s.loc[s.str.get(0) == s.str.get(-1)].unique()).head(50)

0              ***
1        GUTENBERG
2             SONS
3                &
4                a
5          thought
6          getting
7             that
8              did
9                I
10             pop
11          dipped
12           sides
13         shelves
14            else
15        to-night
16        remember
17          sticks
18            high
19           label
20        _poison_
21           _not_
22               *
23           going
24         decided
25          rather
26       sometimes
27             eye
28         growing
29           shoes
30       stockings
31           dried
32         dressed
33         _won't_
34         dropped
35       yesterday
36           _Was_
37        _that's_
38           _can_
39           _was_
40          escape
41       existence
42               O
43           _you_
44             _I_
45         _hated_
46    fond--of--of
47               A
48        draggled
49          _I'll_
dtype: object

# Next up

1. Dates and times!
    - Datetime objects (and timedelta objects)
    - Reading from CSV files
    - Comparing with and using them.

# Dates and times

When we talk about "time" in our day-to-day conversations, we are actually referring to two different things:

1. A particular point in time, with a specific (and unique) year, month, day, hour, minute, second. This first type of "time" is known in the programming world as a "datetime" object.
2. A range of time, starting at a particular point and ending at a different point. This is known in the programming world as a "timedelta."

You can do time math, as follows:

- datetime + timedelta = datetime
- datetime - datetime = timedelta

Let's take this class as an example: It started at a certain time (datetime). It will end at a certain time (that's a datetime). In between, where we are now, is part of a timedelta, the distance between the start time and the end time.

In [132]:
# let's read the taxi data, including two new columns: tpep_pickup_datetime and tpep_dropoff_datetime

df = pd.read_csv('../data/nyc_taxi_2019-01.csv',
                usecols=['tpep_pickup_datetime',
                        'tpep_dropoff_datetime',
                        'passenger_count',
                        'trip_distance',
                        'total_amount',
                        'tip_amount'])

In [133]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,tip_amount,total_amount
0,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1.65,9.95
1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1.00,16.30
2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,0.00,5.80
3,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,0.00,7.55
4,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,0.00,55.55

In [134]:
# what dtypes do we have?
df.dtypes

tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
tip_amount               float64
total_amount             float64
dtype: object

In [135]:
# if we want Pandas to read one or more columns as datetime values, we need to specify that
# when we run read_csv:

df = pd.read_csv('../data/nyc_taxi_2019-01.csv',
                usecols=['tpep_pickup_datetime',
                        'tpep_dropoff_datetime',
                        'passenger_count',
                        'trip_distance',
                        'total_amount',
                        'tip_amount'],
                parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])

In [136]:
df.dtypes

tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
tip_amount                      float64
total_amount                    float64
dtype: object

In [137]:
!head ../data/nyc_taxi_2019-01.csv

What if the date is listed as 05-07-2021  -- is that May 7th? Or is that July 5th?
in the US, it's May 7th.  Everywhere else, it's July 5th.  (In Asian countries, they typically
prefer the YYMMDD format.)

One of the parameters to `read_csv` is `dayfirst`, which defaults to `False`. If you're reading dates, and finding that they are swapped (month/day), then you should set `dayfirst=True` when you call `read_csv`.

In [138]:
# so what? Now I have the pickup and dropoff in datetime objects... so?

In [139]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,tip_amount,total_amount
0,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1.65,9.95
1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1.00,16.30
2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,0.00,5.80
3,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,0.00,7.55
4,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,0.00,55.55

In [ ]:
# we can retrieve pieces of the datetime object
# we use a special acc