# Agenda, week 3: Real-world data

1. Recap and Q&A
2. (More about) CSV file
    - Selecting columns
    - Selecting the index
    - Header lines
3. Reading online data
    - CSV
    - Scraping sites with Pandas
4. Sorting data
    - Sorting by value
    - Sorting by index
    - Sorting by multiple values
5. Grouping
    - What is grouping?
    - Aggregate functions
    - Grouping by multiple columns
6. Pivot tables
7. Joining
    - What is joining?
    - Simple joins across data frames
8. Cleaning data    

Please download the data file mentioned in the course page.  Warning: It's a big file! And it contains some very large CSV files!

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s = Series('1 10 20 50 89'.split())
s

0     1
1    10
2    20
3    50
4    89
dtype: object

In [3]:
s = Series('1 10 20 50 89'.split(), dtype=np.int64)   # this forces the dtype to be int64, and turns items into ints
s

/usr/local/lib/python3.11/site-packages/numpy/core/numeric.py:2463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return bool(asarray(a1 == a2).all())

ValueError: values cannot be losslessly cast to int64

In [5]:
s = Series('1 10 20 50 89'.split())

In [6]:
s

0     1
1    10
2    20
3    50
4    89
dtype: object

In [7]:
s.astype(np.int64)

0     1
1    10
2    20
3    50
4    89
dtype: int64

In [12]:
s.astype(pd.StringDtype())

0     1
1    10
2    20
3    50
4    89
dtype: string

In [13]:
# is Python's None equal to itself?
None == None

True

In [14]:
# what type is Python's None?
type(None)

NoneType

In [15]:
# is NumPy's NaN equal to itself?
np.nan == np.nan

False

In [16]:
# what type is it?
type(np.nan)

float

In [17]:
s = Series([10, 20, 30, np.nan, 50, 60])

In [18]:
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
5    60.0
dtype: float64

In [19]:
s = Series([10, 20, 30, None, 50, 60])
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
5    60.0
dtype: float64

In [20]:
# there is a growing interest in using a special Pandas version of NaN, called pd.NA

s = Series([10, 20, 30, pd.NA, 50, 60])

In [21]:
s

0      10
1      20
2      30
3    <NA>
4      50
5      60
dtype: object

In [22]:
s.sum()

170

In [23]:
df = DataFrame(np.random.randint(0, 100, [4, 5]),
              index=list('abcd'),
              columns=list('vwxyz'))
df

    v   w   x   y   z
a  28  66   9  33  99
b  66  92  99  87  39
c   3  92  37  34  84
d  38   8  44   3  87

In [24]:
df['wx'] = df['w'] + df['x']

In [25]:
df

    v   w   x   y   z   wx
a  28  66   9  33  99   75
b  66  92  99  87  39  191
c   3  92  37  34  84  129
d  38   8  44   3  87   52

# More about CSV

CSV is a standard, but with a *lot* of leeway in its interpretation. So when you have a CSV file, it might (or might not) have a line at the top naming the columns. It might (or might not) use commas to separate the values. It might or might not contains special types of data.

In [26]:
help(pd.read_csv)   # show me the documentation for read_csv

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols=None, squeeze: 'bool | None' = None, prefix: 'str | lib.NoDefault' = <no_default>, mangle_dupe_cols: 'bool' = True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace: 'bool' = False, skiprows=None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, skip_blank_lines: 'bool' = True, parse_dates=None, infer_datetime_format: 'bool' = False, keep_date_col: 'bool' = False, date_parser=None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, error_bad_lines: 'bool | None' = None, warn_bad_lines: 'bool | None' = None, on_bad_lines=None, delim_whitespace: 'bool' = False, low_memory=True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions' = None) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.

        .. deprecated:: 1.4.0
            Append ``.squeeze("columns")`` to the call to ``read_csv`` to squeeze
            the data.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...

        .. deprecated:: 1.4.0
           Use a list comprehension on the DataFrame's columns after calling ``read_csv``.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.

        .. deprecated:: 1.5.0
            Not implemented, and a new argument to specify the pattern for the
            names of duplicated columns will be added instead
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 1.5.0

            Support for defaultdict was added. Specify a defaultdict as input where
            the default determines the dtype of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, optional, default ``None``
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will be dropped from the DataFrame that is
        returned.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    warn_bad_lines : bool, optional, default ``None``
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than

In [27]:
# wine mag 150k reviews 

filename = '/Users/reuven/Courses/Current/data/winemag-150k-reviews.csv'

df = pd.read_csv(filename)

In [28]:
# the first thing that I normally do when reading a CSV file is df.head()
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [29]:
# I also want to know: How big is this data frame?

df.shape

(150930, 11)

In [31]:
# How can I be more selective with my CSV file?

# What columns can I ignore from this file?
# - Unnamed: 0
# - winery
# - points
# - price

# I can specify "usecols", and a list of either column names *or* column numbers, starting with 0

filename = '/Users/reuven/Courses/Current/data/winemag-150k-reviews.csv'

df = pd.read_csv(filename,
                usecols=['country', 'description', 'price', 'province', 'region_1', 'region_2', 'variety'])
df.head()

,country,description,price,province,region_1,region_2,variety
0,US,This tremendous 100% varietal wine hails from ...,235.0,California,Napa Valley,Napa,Cabernet Sauvignon
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",110.0,Northern Spain,Toro,NaN,Tinta de Toro
2,US,Mac Watson honors the memory of a wine once ma...,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc
3,US,"This spent 20 months in 30% new French oak, an...",65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir
4,France,"This is the top wine from La Bégude, named aft...",66.0,Provence,Bandol,NaN,Provence red blend

In [32]:
# if every row is 10 kb
# if we have 150k rows

150_000 * 10_000

1500000000

In [33]:
# cut down each row to be 8kb
150_000 * 8_000

1200000000

In [34]:
# let's make the index the country column

df = pd.read_csv(filename,
                usecols=['country', 'description', 'price', 'province', 'region_1', 'region_2', 'variety'])
df = df.set_index('country')
df.head()

,description,price,province,region_1,region_2,variety
country,,,,,,
US,This tremendous 100% varietal wine hails from ...,235.0,California,Napa Valley,Napa,Cabernet Sauvignon
Spain,"Ripe aromas of fig, blackberry and cassis are ...",110.0,Northern Spain,Toro,NaN,Tinta de Toro
US,Mac Watson honors the memory of a wine once ma...,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc
US,"This spent 20 months in 30% new French oak, an...",65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir
France,"This is the top wine from La Bégude, named aft...",66.0,Provence,Bandol,NaN,Provence red blend

In [36]:
# we can do this in one step, when reading the CSV file in from disk

df = pd.read_csv(filename,
                usecols=['country', 'description', 'price', 'province', 'region_1', 'region_2', 'variety'],
                index_col='country')
df.head()

,description,price,province,region_1,region_2,variety
country,,,,,,
US,This tremendous 100% varietal wine hails from ...,235.0,California,Napa Valley,Napa,Cabernet Sauvignon
Spain,"Ripe aromas of fig, blackberry and cassis are ...",110.0,Northern Spain,Toro,NaN,Tinta de Toro
US,Mac Watson honors the memory of a wine once ma...,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc
US,"This spent 20 months in 30% new French oak, an...",65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir
France,"This is the top wine from La Bégude, named aft...",66.0,Provence,Bandol,NaN,Provence red blend

In [39]:
df.loc['Albania']

,description,price,province,region_1,region_2,variety
country,,,,,,
Albania,This garnet-colored wine made from 100% Kallme...,20.0,Mirditë,NaN,NaN,Kallmet
Albania,This garnet-colored wine made from 100% Kallme...,20.0,Mirditë,NaN,NaN,Kallmet

In [40]:
# I sync to GitHub with "gitautopush"
# Just search for it on PyPI, and install it

# Exercise: Wine reviews

1. Read the wine-150k-reviews data set into a data frame. We only care about country, price, and variety.
2. Which wine in this data set has the highest price?
3. Which country has the most wines in this data set?
4. What is the average price of Cabernet Sauvignon? How about Malbec?

In [41]:
filename = '/Users/reuven/Courses/Current/data/winemag-150k-reviews.csv'

df = pd.read_csv(filename, 
                usecols=['country', 'price', 'variety'])
df.head()

  country  price             variety
0      US  235.0  Cabernet Sauvignon
1   Spain  110.0       Tinta de Toro
2      US   90.0     Sauvignon Blanc
3      US   65.0          Pinot Noir
4  France   66.0  Provence red blend

In [42]:
df.dtypes

country     object
price      float64
variety     object
dtype: object

In [45]:
# which wine has the highest price?
df.loc[df['price'] == df['price'].max()]

      country   price                   variety
34920  France  2300.0  Bordeaux-style Red Blend

In [48]:
# which country has the most wines in this data set?
df['country'].value_counts().head(1)

US    62397
Name: country, dtype: int64

In [51]:
# What is the average price of Cabernet Sauvignon? 

# row selector: variety has to be CS
# column selector: price

df.loc[
    df['variety'] == 'Cabernet Sauvignon'   # row selector
    ,
    'price'  # column selector
].mean()

42.146634046247335

In [52]:
# How about Malbec?


df.loc[
    df['variety'] == 'Malbec'   # row selector
    ,
    'price'  # column selector
].mean()

25.631118314424636

Data files are here: https://files.lerner.co.il/pandas-workout-data.zip

# Let's look again at `pd.read_csv`

In [53]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols=None, squeeze: 'bool | None' = None, prefix: 'str | lib.NoDefault' = <no_default>, mangle_dupe_cols: 'bool' = True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace: 'bool' = False, skiprows=None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, skip_blank_lines: 'bool' = True, parse_dates=None, infer_datetime_format: 'bool' = False, keep_date_col: 'bool' = False, date_parser=None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, error_bad_lines: 'bool | None' = None, warn_bad_lines: 'bool | None' = None, on_bad_lines=None, delim_whitespace: 'bool' = False, low_memory=True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions' = None) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.

        .. deprecated:: 1.4.0
            Append ``.squeeze("columns")`` to the call to ``read_csv`` to squeeze
            the data.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...

        .. deprecated:: 1.4.0
           Use a list comprehension on the DataFrame's columns after calling ``read_csv``.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.

        .. deprecated:: 1.5.0
            Not implemented, and a new argument to specify the pattern for the
            names of duplicated columns will be added instead
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 1.5.0

            Support for defaultdict was added. Specify a defaultdict as input where
            the default determines the dtype of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, optional, default ``None``
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will be dropped from the DataFrame that is
        returned.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    warn_bad_lines : bool, optional, default ``None``
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than

In [54]:
url = 'https://gist.githubusercontent.com/reuven/bb116ba2034bb10bb7e4e2caa5d8a000/raw/3660c4af808684dbf17af48b3d2f25b6a218535f/CSCO.csv'

In [55]:
pd.read_csv(url)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-12-22,38.520000,38.740002,38.470001,38.549999,38.264591,11441600
1,2017-12-26,38.549999,38.680000,38.360001,38.480000,38.195110,8186100
2,2017-12-27,38.540001,38.650002,38.450001,38.560001,38.274517,10543000
3,2017-12-28,38.730000,38.730000,38.450001,38.590000,38.304295,8807700
4,2017-12-29,38.410000,38.619999,38.299999,38.299999,38.016441,12583600
5,2018-01-02,38.669998,38.950001,38.430000,38.860001,38.572296,20135700
6,2018-01-03,38.720001,39.279999,38.529999,39.169998,38.879997,29536000
7,2018-01-04,39.049999,39.540001,38.930000,38.990002,38.990002,20731400
8,2018-01-05,39.549999,39.880001,39.369999,39.529999,39.529999,24588200
9,2018-01-08,39.520000,39.959999,39.349998,39.939999,39.939999,16582000
10,2018-01-09,39.790001,39.959999,39.540001,39.689999,39.689999,21449800
11,2018-01-10,39.650002,40.240002,39.630001,39.910000,39.910000,19473000
12,2018-01-11,40.139999,40.209999,39.750000,40.099998,40.099998,21685600
13,2018-01-12,40.220001,40.930000,40.049999,40.869999,40.869999,23770500
14,2018-01-16,40.900002,41.160000,40.320000,40.540001,40.540001,32845000
15,2018-01-17,40.840000,41.320000,40.709999,41.200001,41.200001,24427100
16,2018-01-18,41.240002,41.480000,41.029999,41.299999,41.299999,19610200
17,2018-01-19,41.279999,41.520000,41.099998,41.290001,41.290001,24207800
18,2018-01-22,41.200001,41.520000,41.020000,41.340000,41.340000,6792482

In [56]:
# Latest Bitcoin prices are at https://api.blockchain.info/charts/market-price?format=csv

In [57]:
url = 'https://api.blockchain.info/charts/market-price?format=csv'

df = pd.read_csv(url)
df.head()

   2021-11-29 00:00:00  57292.28
0  2021-11-30 00:00:00  57828.45
1  2021-12-01 00:00:00  57025.79
2  2021-12-02 00:00:00  57229.76
3  2021-12-03 00:00:00  56508.48
4  2021-12-04 00:00:00  53713.84

In [58]:
df.tail()

     2021-11-29 00:00:00  57292.28
360  2022-11-25 00:00:00  16592.67
361  2022-11-26 00:00:00  16507.44
362  2022-11-27 00:00:00  16453.47
363  2022-11-28 00:00:00  16420.20
364  2022-11-29 00:00:00  16208.96

In [61]:
df = pd.read_csv(url,
                 header=None,
                 names=['date', 'bitcoin'],
                 index_col='date')
df.head()

                      bitcoin
date
2021-11-29 00:00:00  57292.28
2021-11-30 00:00:00  57828.45
2021-12-01 00:00:00  57025.79
2021-12-02 00:00:00  57229.76
2021-12-03 00:00:00  56508.48

In [62]:
df.loc['2022-07-14 00:00:00']

bitcoin    20223.69
Name: 2022-07-14 00:00:00, dtype: float64

In [64]:
# let's say that I like the GDP data in Wikipedia
# I'd like to read it into Pandas, into a data frame

url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'

# read_html retrieves every HTML table on that web page into a data frame
# you get back a list of data frames, one per HTML table
all_dfs = pd.read_html(url)

In [65]:
all_dfs[3]

       Country/Territory UN Region IMF[1][13]            World Bank[14]  \
       Country/Territory UN Region   Estimate       Year       Estimate
0                  World         —  101560901       2022       96100091
1          United States  Americas   25035164       2022       22996100
2                  China      Asia   18321197  [n 1]2022       17734063
3    European Union[n 4]    Europe   16613060       2022       17088621
4                  Japan      Asia    4300621       2022        4937422
..                   ...       ...        ...        ...            ...
213                Palau   Oceania        226       2022            258
214             Kiribati   Oceania        207       2022            181
215                Nauru   Oceania        134       2022            133
216           Montserrat  Americas          —          —              —
217               Tuvalu   Oceania         64       2022             63

               United Nations[15]
          Year           Estimate       Year
0         2021           85328323       2020
1         2021           20893746       2020
2    [n 3]2021           14722801  [n 1]2020
3         2021           15292201   [16]2020
4         2021            5057759       2020
..         ...                ...        ...
213       2020                264       2020
214       2020                181       2020
215       2021                135       2020
216          —                 68       2020
217       2021                 55       2020

[218 rows x 8 columns]

In [67]:
df = all_dfs[3]
df.columns=['country', 'un_region', 'imf_estimate', 'imf_year', 'wb_estimate', 'wb_year', 'un_estimate', 'un_year']

In [68]:
df

,country,un_region,imf_estimate,imf_year,wb_estimate,wb_year,un_estimate,un_year
0,World,—,101560901,2022,96100091,2021,85328323,2020
1,United States,Americas,25035164,2022,22996100,2021,20893746,2020
2,China,Asia,18321197,[n 1]2022,17734063,[n 3]2021,14722801,[n 1]2020
3,European Union[n 4],Europe,16613060,2022,17088621,2021,15292201,[16]2020
4,Japan,Asia,4300621,2022,4937422,2021,5057759,2020
...,...,...,...,...,...,...,...,...
213,Palau,Oceania,226,2022,258,2020,264,2020
214,Kiribati,Oceania,207,2022,181,2020,181,2020
215,Nauru,Oceania,134,2022,133,2021,135,2020
216,Montserrat,Americas,—,—,—,—,68,2020
217,Tuvalu,Oceania,64,2022,63,2021,55,2020

# Exercise: Blockchain downloads

Bitcoin info: 'https://api.blockchain.info/charts/market-price?format=csv'

1. Create a data frame from the Bitcoin info, in which the date is the index.
2. On which date was Bitcoin at its highest value?
3. On which date was it at its lowest value? (The info only goes back one year, I believe.)

In [69]:
url = 'https://api.blockchain.info/charts/market-price?format=csv'

df = pd.read_csv(url,
                 header=None,
                names=['date', 'btc'],
                index_col='date')
df.head()

                          btc
date
2021-11-29 00:00:00  57292.28
2021-11-30 00:00:00  57828.45
2021-12-01 00:00:00  57025.79
2021-12-02 00:00:00  57229.76
2021-12-03 00:00:00  56508.48

In [72]:
# on which date was bitcoin at its highest value?
df.loc[df['btc'] == df['btc'].max()]

                          btc
date
2021-11-30 00:00:00  57828.45

In [73]:
# On which date was it at its lowest value?

df.loc[df['btc'] == df['btc'].min()]

                          btc
date
2022-11-22 00:00:00  15759.61

# Good sources for interesting datasets

1. https://www.kaggle.com/datasets
2. https://github.com/awesomedata/awesome-public-datasets

# Next up

1. Sorting
2. Basic grouping

# Sorting

It's common for us to want to sort our data.  If I just want to pick out the highest value, or the lowest value, I can do that with a boolean index and grabbing the first or last value.  But if I'm going to want the 10 largest values, then sorting is going to be more useful.  Also, if I'm going to *look* at the data, then sorting can be useful.

In [74]:
filename = '/Users/reuven/Courses/Current/data/winemag-150k-reviews.csv'

df = pd.read_csv(filename)

In [75]:
# What are the 10 most expensive wines in this database?
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [77]:
# I want to sort the rows of df by the "price" column

df.sort_values('price')  

# (1) The rows are sorted in ascending order (from lowest to highest)
# (2) We haven't modified df -- rather, we got a new data frame back from .sort_values

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
90546,90546,Argentina,Clean as anyone should reasonably expect given...,NaN,85,4.0,Mendoza Province,Mendoza,NaN,Malbec,Toca Diamonte
25645,25645,US,"There's a lot going on in this Merlot, which i...",NaN,86,4.0,California,California,California Other,Merlot,Bandit
118347,118347,US,"Light and earthy, this wine-in-a-box is clean ...",NaN,84,4.0,California,California,California Other,Cabernet Sauvignon,Bandit
1858,1858,US,"Sweet and fruity, this canned wine feels soft ...",Unoaked,83,4.0,California,California,California Other,Chardonnay,Pam's Cuties
91766,91766,Argentina,"Crimson in color but also translucent, with a ...",Red,84,4.0,Mendoza Province,Mendoza,NaN,Malbec-Syrah,Broke Ass
...,...,...,...,...,...,...,...,...,...,...,...
150377,150377,New Zealand,"Light and a bit herbal, like a pleasant St.-Jo...",Matheson,84,NaN,Hawke's Bay,NaN,NaN,Syrah,Matua Valley
150378,150378,New Zealand,"Impressive purple color, but less intense on t...",NaN,84,NaN,Martinborough,NaN,NaN,Syrah,Kusuda
150587,150587,Canada,"Shows pronounced oily, earthy, almost tobacco-...",Icewine,90,NaN,Ontario,Lake Erie North Shore,NaN,Riesling,Colio
150673,150673,US,"Cherry-scented, clean and fruity. Good concent...",NaN,87,NaN,California,Dry Creek Valley,Sonoma,Zinfandel,Taft Street
150922,150922,Italy,Made by 30-ish Roberta Borghese high above Man...,Superiore,91,NaN,Northeastern Italy,Colli Orientali del Friuli,NaN,Tocai,Ronchi di Manzano

In [78]:
# since we're sorting by price, in ascending order, the 10 most expensive wines will be
# the 10 final rows

df.sort_values('price').tail(10)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
150255,150255,New Zealand,"Starts with scents of anise and blackberry, th...",NaN,85,NaN,Hawke's Bay,NaN,NaN,Syrah,Vidal
150260,150260,France,"Always reliable, Hanteillan has reflected the ...",NaN,85,NaN,Bordeaux,Haut-Médoc,NaN,Bordeaux-style Red Blend,Château Hanteillan
150261,150261,New Zealand,"A bit heavy for Riesling, with pretty pear and...",NaN,85,NaN,Waipara,NaN,NaN,Riesling,Daniel Schuster
150319,150319,New Zealand,"A bit jammy, with aromas and flavors of slight...",Innovator Bullrush,85,NaN,Hawke's Bay,NaN,NaN,Syrah,Matua Valley
150322,150322,New Zealand,"Impressively dark in color, but shows more woo...",Reserve,84,NaN,Hawke's Bay,NaN,NaN,Syrah,CJ Pask
150377,150377,New Zealand,"Light and a bit herbal, like a pleasant St.-Jo...",Matheson,84,NaN,Hawke's Bay,NaN,NaN,Syrah,Matua Valley
150378,150378,New Zealand,"Impressive purple color, but less intense on t...",NaN,84,NaN,Martinborough,NaN,NaN,Syrah,Kusuda
150587,150587,Canada,"Shows pronounced oily, earthy, almost tobacco-...",Icewine,90,NaN,Ontario,Lake Erie North Shore,NaN,Riesling,Colio
150673,150673,US,"Cherry-scented, clean and fruity. Good concent...",NaN,87,NaN,California,Dry Creek Valley,Sonoma,Zinfandel,Taft Street
150922,150922,Italy,Made by 30-ish Roberta Borghese high above Man...,Superiore,91,NaN,Northeastern Italy,Colli Orientali del Friuli,NaN,Tocai,Ronchi di Manzano

In [79]:
filename = '/Users/reuven/Courses/Current/data/winemag-150k-reviews.csv'

df = pd.read_csv(filename,
                usecols=['country', 'variety', 'price'])

In [83]:
# Here, I:

# (1) removed rows containing NaN
# (2) sorted the remaining rows by price, in ascending order
# (3) look at the final 10 rows of what remains

df.dropna().sort_values('price').tail(10)  # remove all rows containing NaN

       country   price                   variety
34927   France  1100.0  Bordeaux-style Red Blend
10651  Austria  1100.0          Grüner Veltliner
34942   France  1200.0  Bordeaux-style Red Blend
34939   France  1300.0  Bordeaux-style Red Blend
83536   France  1400.0                Chardonnay
26296   France  1400.0                Chardonnay
51886   France  1400.0                Chardonnay
34922   France  1900.0  Bordeaux-style Red Blend
13318       US  2013.0                Chardonnay
34920   France  2300.0  Bordeaux-style Red Blend

In [84]:
# let's look at sort_values, and see what options it gives
help(df.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by: 'IndexLabel', *, axis: 'Axis' = 0, ascending: 'bool | list[bool] | tuple[bool, ...]' = True, inplace: 'bool' = False, kind: 'str' = 'quicksort', na_position: 'str' = 'last', ignore_index: 'bool' = False, key: 'ValueKeyFunc' = None) -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
            by : str or list of str
                Name or list of names to sort by.

                - if `axis` is 0 or `'index'` then `by` may contain index
                  levels and/or column labels.
                - if `axis` is 1 or `'columns'` then `by` may contain column
                  levels and/or index labels.
    axis : {0 or 'index', 1 or 'columns'}, default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
         Choice of sorting algorithm. See also :func:`numpy.sort` for more
         information. `mergesort` and `stable` are the only stable algorithms. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.

         .. versionadded:: 1.0.0

    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...    by="time",
    ...    key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

In [86]:
df.sort_values('price', na_position='first').tail(10)

       country   price                   variety
10651  Austria  1100.0          Grüner Veltliner
34927   France  1100.0  Bordeaux-style Red Blend
34942   France  1200.0  Bordeaux-style Red Blend
34939   France  1300.0  Bordeaux-style Red Blend
26296   France  1400.0                Chardonnay
83536   France  1400.0                Chardonnay
51886   France  1400.0                Chardonnay
34922   France  1900.0  Bordeaux-style Red Blend
13318       US  2013.0                Chardonnay
34920   France  2300.0  Bordeaux-style Red Blend

# `inplace`

Pandas methods almost always return a new data frame, rather than modifying the data frame itself. This might seem wasteful (in terms of memory and performance), but the the Pandas core developers assure us that this is not the case.

You can, if you want, pass `inplace=True` to a very large number of Pandas methods. If you do that, then the method will return `None`, and you'll modify the data frame itself, in place.

However, the Pandas core developers are planning to remove `inplace` from most (or all) methods, and basically beg us not to use it.

In [88]:
# sometimes, I want to sort by the index, rather than by the column

df = df.set_index('country')
df

         price             variety
country
US       235.0  Cabernet Sauvignon
Spain    110.0       Tinta de Toro
US        90.0     Sauvignon Blanc
US        65.0          Pinot Noir
France    66.0  Provence red blend
...        ...                 ...
Italy     20.0         White Blend
France    27.0     Champagne Blend
Italy     20.0         White Blend
France    52.0     Champagne Blend
Italy     15.0        Pinot Grigio

[150930 rows x 2 columns]

In [92]:
# how can I sort my data frame, such that the index is ordered alphabetically?
# I can use df.sort_index()

df.sort_index(ascending=False)

         price     variety
country
Uruguay   15.0    Viognier
Uruguay   30.0      Tannat
Uruguay   52.0   Red Blend
Uruguay   17.0      Tannat
Uruguay   10.0      Tannat
...        ...         ...
NaN       17.0   Assyrtiko
NaN       30.0   Red Blend
NaN       15.0  Pinot Noir
NaN       15.0  Pinot Noir
NaN       15.0  Pinot Noir

[150930 rows x 2 columns]

# Exercise: High and low temps

1. Create a data frame from the file `new+york,ny.csv`. This contains weather information over a 4-month period (Decembee 2018 - March 2019) in New York City.
2. You only need to load a few columns: `date_time`, `new+york,ny_maxtempC`, `new+york,ny_mintempC`.
3. Rename the columns to be `date_time`, `max_temp`, and `min_temp`.
4. Set the `date_time` column to be the index.
5. Find the 5 lowest temperatures recorded in New York during this period.
6. Find the 5 highest temperatures recorded in New York during this period.

In [101]:
filename = '/Users/reuven/Courses/Current/data/new+york,ny.csv'

df = pd.read_csv(filename,
            usecols=[0, 1, 2],   # use the numbers when you're going to change the names
            names=['date_time', 'max_temp', 'min_temp'],
            header=0,
            index_col='date_time')

In [102]:
df.head()

                     max_temp  min_temp
date_time
2018-12-11 00:00:00         4        -1
2018-12-11 03:00:00         4        -1
2018-12-11 06:00:00         4        -1
2018-12-11 09:00:00         4        -1
2018-12-11 12:00:00         4        -1

In [104]:
df.sort_values('min_temp').head(5)

                     max_temp  min_temp
date_time
2019-01-31 09:00:00        -8       -14
2019-01-31 00:00:00        -8       -14
2019-01-31 12:00:00        -8       -14
2019-01-21 21:00:00       -12       -14
2019-01-31 06:00:00        -8       -14

In [106]:
df.sort_values('max_temp').tail(5)

                     max_temp  min_temp
date_time
2018-12-21 12:00:00        15        12
2018-12-21 09:00:00        15        12
2018-12-21 06:00:00        15        12
2018-12-21 03:00:00        15        12
2018-12-21 00:00:00        15        12

In [108]:
# sorting by more than one column
# sort by min_temp, and then (if there's a tie) by max_temp

# just provide a list of column names, rather than a single column name

df.sort_values(['min_temp', 'max_temp']).head(30)

                     max_temp  min_temp
date_time
2019-01-21 00:00:00       -12       -14
2019-01-21 03:00:00       -12       -14
2019-01-21 06:00:00       -12       -14
2019-01-21 09:00:00       -12       -14
2019-01-21 12:00:00       -12       -14
2019-01-21 15:00:00       -12       -14
2019-01-21 18:00:00       -12       -14
2019-01-21 21:00:00       -12       -14
2019-01-31 00:00:00        -8       -14
2019-01-31 03:00:00        -8       -14
2019-01-31 06:00:00        -8       -14
2019-01-31 09:00:00        -8       -14
2019-01-31 12:00:00        -8       -14
2019-01-31 15:00:00        -8       -14
2019-01-31 18:00:00        -8       -14
2019-01-31 21:00:00        -8       -14
2019-01-22 00:00:00        -3       -13
2019-01-22 03:00:00        -3       -13
2019-01-22 06:00:00        -3       -13
2019-01-22 09:00:00        -3       -13
2019-01-22 12:00:00        -3       -13
2019-01-22 15:00:00        -3       -13
2019-01-22 18:00:00        -3       -13
2019-01-22 21:00:00        -3       -13
2019-02-01 00:00:00        -5       -12
2019-02-01 03:00:00        -5       -12
2019-02-01 06:00:00        -5       -12
2019-02-01 09:00:00        -5       -12
2019-02-01 12:00:00        -5       -12
2019-02-01 15:00:00        -5       -12

# Grouping

If I read the wine data into Pandas, I can find out:

- What's the average price of wines from France?
- What's the average price of wines from the US?
- What's the average price of wines from Chile?

In [109]:
filename = '/Users/reuven/Courses/Current/data/winemag-150k-reviews.csv'

df = pd.read_csv(filename,
                usecols=['country', 'price'])
df.head()

  country  price
0      US  235.0
1   Spain  110.0
2      US   90.0
3      US   65.0
4  France   66.0

In [113]:
# average price of wines in France
df.loc[df['country'] == 'France',  # row selector
      'price'].mean()              # column selector

45.61988501859993

In [114]:
df.loc[df['country'] == 'US',      # row selector
      'price'].mean()              # column selector

33.65380839730282

In [115]:
df.loc[df['country'] == 'Chile',      # row selector
      'price'].mean()              # column selector

19.344779743322928

At a certain point, this becomes tedious.

I'd rather ask Pandas to take every unique value in df['country'], and calculate the mean price of all wines in that country:

- Take each country mentioned in df['country']
- Create a mask index, to find only wines from that country
- Retrieve the value from the `price` column
- Take the mean of those values

That is grouping!

In [117]:
# what unique values? (country)
# on what column to calculate? (price)
# what method do we want to run? (mean)

# we get back a series in which the index contains the different values
# for "country", the values in the series represent the mean prices for
# each country.

df.groupby('country')['price'].mean()

country
Albania                   20.000000
Argentina                 20.794881
Australia                 31.258480
Austria                   31.192106
Bosnia and Herzegovina    12.750000
Brazil                    19.920000
Bulgaria                  11.545455
Canada                    34.628866
Chile                     19.344780
China                     20.333333
Croatia                   23.108434
Cyprus                    15.483871
Czech Republic            18.000000
Egypt                           NaN
England                   47.500000
France                    45.619885
Georgia                   18.581395
Germany                   39.011078
Greece                    21.747706
Hungary                   44.204348
India                     13.875000
Israel                    31.304918
Italy                     37.547913
Japan                     24.000000
Lebanon                   25.432432
Lithuania                 10.000000
Luxembourg                40.666667
Macedonia                 15.312500
Mexico                    29.095238
Moldova                   15.366197
Montenegro                10.000000
Morocco                   18.833333
New Zealand               24.173290
Portugal                  26.332615
Romania                   16.395683
Serbia                    24.285714
Slovakia                  15.333333
Slovenia                  28.061728
South Africa              21.130532
South Korea               13.500000
Spain                     27.048529
Switzerland               26.500000
Tunisia                         NaN
Turkey                    25.800000
US                        33.653808
US-France                 50.000000
Ukraine                   13.000000
Uruguay                   25.847059
Name: price, dtype: float64

# Examples of grouping

- Show total sales, grouped by region
- Show mean infection rates, grouped by country
- Show population, grouped by state
- Show mean SAT score, grouped by university

What methods can we use when grouping? Any aggregation method -- it takes many values, and returns a single value.

- `mean`
- `std`
- `sum`
- `count`

# Exercise: Grouping wines

1. Read the wine data set into a data frame. Keep the country, price, region, and variety columns.
2. What country has the most expensive wines, on average?
3. What variety is most popular?
4. What region produces the cheapest wines?